<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>confirm Item</title>
    <link rel="stylesheet" href="{% static 'css/confirm_item.css' %}">
</head>
<body>
    
    <form method="POST">
        {% csrf_token %}

<div class="container">
    <h2>{{ message }}</h2>
{% if item %}
    <div class="item-box">
        <p><strong>Title:</strong> {{ item.title }}</p>
        <p><strong>Description:</strong> {{ item.description }}</p>
    </div>
     {% endif %}
        <button type="submit" class="confirm_btn">{{ button_text}}</button>
        <a href="{{ cancel_url }}" class="cancel-btn">Cancel</a>
    </form>
</div>

</body>
</html>