 {% include "base.html" %}
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>My Details</title>
    <link rel="stylesheet" href="{% static 'css/mydetails.css' %}">
</head>
<body>

<h1>My Details</h1>

<!-- LOST ITEMS -->
<h2>My Lost Items</h2>
<div class="card-container">
    {% for item in lost_items %}
        <div class="card">
            <img src="{{ item.image.url }}" alt="">
            <h3>{{ item.title }}</h3>
            <p>{{ item.description }}</p>
            <p><strong>Location:</strong> {{ item.location }}</p>
        </div>
    {% empty %}
        <p>No lost items</p>
    {% endfor %}
</div>

<!-- FOUND ITEMS -->
<h2>My Found Items</h2>
<div class="card-container">
    {% for item in found_items %}
        <div class="card">
            <img src="{{ item.image.url }}" alt="">
            <h3>{{ item.title }}</h3>
            <p>{{ item.description }}</p>
            <p><strong>Location:</strong> {{ item.location }}</p>
        </div>
    {% empty %}
        <p>No found items</p>
    {% endfor %}
</div>

<!-- CLAIMS -->
<h2>My Claims</h2>
<div class="card-container">
    {% for claim in claims %}
        <div class="card">
             {% if claim.image %}
          <img src="{{ claim.image.url }}" alt="claim image">
          {% else %}
            <img src="static/default.png">
             {% endif %}
            <h3>{{ claim.item.title }}</h3>
            <p>{{ claim.message }}</p>

            {% if claim.is_approved %}
                <p class="approved">✅ Approved</p>
                <p><strong>Contact:</strong> {{ claim.item.user.email }}</p>
            {% else %}
                <p class="pending">⏳ Pending Approval</p>
            {% endif %}
        </div>
    {% empty %}
        <p>No claims yet</p>
    {% endfor %}
</div>

</body>
</html>