 {% include "base.html" %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report Found Item</title>
    <link rel="stylesheet" href="{% static 'css/reportfound.css' %}">

</head>
<body>

<div class="container">
    <h2>Report Found Item</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label>Item Name</label>
            <input type="text" name="title" placeholder="Enter found item name" required>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea name="description" placeholder="Describe the item..." required></textarea>
        </div>

        <div class="form-group">
            <label>Found Location</label>
            <input type="text" name="location" placeholder="Where did you find it?">
        </div>

        <div class="form-group">
            <label>Date Found</label>
            <input type="date" name="date_found">
        </div>

        <div class="form-group">
            <label>Upload Image</label>
            <input type="file" name="image">
        </div>

        <button type="submit">Submit Found Report</button>
    </form>
</div>

</body>
</html>