  {% include "base.html" %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report Lost Item</title>
    <link rel="stylesheet" href="reportlost.css">
   <link rel="stylesheet" href="{%  static 'css/reportlost.css' %}">
</head>
<body>

<div class="container">
    <h2>Report Lost Item</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label>Item Name</label>
            <input type="text" name="title" placeholder="Enter item name" required>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea name="description" placeholder="Describe the item..." required></textarea>
        </div>

        <div class="form-group">
            <label>Last Seen Location</label>
            <input type="text" name="location" placeholder="Enter location">
        </div>

        <div class="form-group">
            <label>Date Lost</label>
            <input type="date" name="date_lost">
        </div>

        <div class="form-group">
            <label>Upload Image</label>
            <input type="file" name="image">
        </div>

        <button type="submit">Submit Report</button>
    </form>
</div>

</body>
</html>