<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
   <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>

<div class="container">
        <h2>Registration</h2>
        {% if messages %}
        {% for message in messages %}
        <p class="{{message.tags}}">{{message}}</p>
           {% endfor %}
        {% endif %}

        <form method='POST'>
            {% csrf_token %}
            <input type="text" placeholder="Enter your name" required name="name">
            <input type="email" placeholder="Enter your email" required name="email">
            <input type="password" placeholder=" password" required name="password">
            <input type="password" placeholder="Confirm password" required name="confirm_password">

            <button type="submit">Register Now</button>

            <p>Already have an account? <a href="{% url 'login' %}">Login now</a></p>
        </form>
    </div>


</body>
</html>